<!DOCTYPE html>
<html lang="en" ng-app="NewsApp">
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> main </title>
    <base href="/" rel="external nofollow" >
</head>
<body>
	<div ui-view="main" class="out-size" >
        
    </div>
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <link rel="stylesheet" type="text/css" href="static/css/total.css">
    <link rel="stylesheet" type="text/css" href="static/css/csslib//bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="static/js/jslib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="static/js/jslib/angular/angular.js"></script>
    <!-- <script type="text/javascript" src="static/js/jslib/angular-route/angular-route.js"></script> -->
    <script type="text/javascript" src="static/js/jslib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="static/js/route.js"></script>
    <script type="text/javascript" src="static/css/csslib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/jslib/jquery/dist/jquery.min.js"></script>
</body>
</html>
