<div >
    <h2>新闻类别</h2>
    <div class="row">
        <div class="col-md-8">
            <h4>新闻标题</h4>
            <div>
                <ul>
                    <li  ui-sref="menu.one">hello one</li>
                    <li  ui-sref="menu.one">hello one</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h4>新闻时间</h4>
             <div>
                 <ul>
                     <li ng-repeat="time in alltimes">{{time}}</li>
                 </ul>
             </div>
        </div>
    </div>
</div>